NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:3001/api
INTERNAL_API_URL=http://api:3001/api
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=some
NEXT_PUBLIC_CART_ADDRESS_FUNC=manual
NEXT_PUBLIC_GOOGLE_PAY_ENABLED=true
NEXT_PUBLIC_GOOGLE_PAY_ENV=TEST
NEXT_PUBLIC_GOOGLE_PAY_MERCHANT_ID=
NEXT_PUBLIC_GOOGLE_PAY_MERCHANT_NAME="140d Galería de Arte (Sandbox)"
NEXT_PUBLIC_GOOGLE_PAY_GATEWAY=example
NEXT_PUBLIC_GOOGLE_PAY_GATEWAY_MERCHANT_ID=exampleGatewayMerchantId
NEXT_PUBLIC_GOOGLE_PAY_LOCALE=es
NEXT_PUBLIC_REVOLUT_LOCALE=es
NEXT_PUBLIC_REVOLUT_MODE=sandbox
NEXT_PUBLIC_REVOLUT_PUBLIC_KEY=some
NEXT_PUBLIC_PAYMENT_TIMEOUT_MS=30000
NEXT_PUBLIC_PAYMENT_PROVIDER=stripe
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=some
WEB_APP_HIDDEN=true
PUBLISHED_VISIBLE=true
NEXT_PUBLIC_LIVEKIT_URL=wss://some.livekit.cloud
NEXT_PUBLIC_DEALER_COMMISSION_ART=15
NEXT_PUBLIC_DEALER_COMMISSION_OTHERS=10
NEXT_PUBLIC_TAX_VAT_ES=21
NEXT_PUBLIC_TAX_VAT_ART_ES=10
NEXT_PUBLIC_SENDCLOUD_ENABLED_ART=false
NEXT_PUBLIC_SENDCLOUD_ENABLED_OTHERS=true
NEXT_PUBLIC_CDN_URL=https://cdn.140d.art